@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/IRANSans/IRANSans-web.eot);
  src: url(../fonts/IRANSans/IRANSans-web.woff2)
      format("woff2"),
    url(../fonts/IRANSans/IRANSans-web.woff)
      format("woff"),
    url(../fonts/IRANSans/IRANSans-web.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/IRANSans/IRANSans-web.ttf)
      format("truetype");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/IRANSans/IRANSans-Medium-web.eot);
  src: url(../fonts/IRANSans/IRANSans-Medium-web.woff2)
      format("woff2"),
    url(../fonts/IRANSans/IRANSans-Medium-web.woff)
      format("woff"),
    url(../fonts/IRANSans/IRANSans-Medium-web.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/IRANSans/IRANSans-Medium-web.ttf)
      format("truetype");
}
html {
    font-size: 10px;
}
body {
    font-family: IRANSans, "Times New Roman";
    direction: rtl;
    font-weight: 400;
}